@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

/***** CSS VARIABLES *****/
:root {
  --dot-clr: hsl(1, 90%, 64%);
  --accent-clr: hsl(219, 85%, 26%);
  --notifCont-clr: hsl(0, 0%, 100%);
  --unreadNotif-clr: hsl(210, 60%, 98%);
  --msgHover-clr: hsl(211, 68%, 94%);
  --border-clr: hsl(205, 33%, 90%);
  --date-clr: hsl(219, 14%, 63%);
  --txt-clr: hsl(219, 12%, 42%);
  --name-clr: hsl(224, 21%, 14%);
}

/***** CSS RESET *****/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/***** STYLING *****/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
}
.notifications__container {
  background-color: var(--notifCont-clr);
  padding: 1.65rem 1rem;
}

.notifications__top {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification__left {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.secondary__heading {
  font-weight: 800;
  font-size: 1.25rem;
}

.notif__num {
  display: inline-block;
  margin-top: -1px;
  padding: 5px 11px;
  background-color: var(--accent-clr);
  color: var(--notifCont-clr);
  border-radius: 6px;
}

.readBtn {
  font-size: 0.87rem;
  color: var(--txt-clr);
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.readBtn:hover {
  color: var(--accent-clr);
}

.notifcations__bottom {
  display: grid;
  gap: 0.7rem;
}

.notification__box {
  padding: 1rem 0.7rem 1rem 1rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 0.8rem;
  border-radius: 6px;
}

.notification__box.unread {
  background-color: var(--unreadNotif-clr);
}

.notification__box.comment {
  grid-template-columns: 2.5rem 1fr 2.8rem;
}

.notification__info {
  font-size: 0.88rem;
  line-height: 1.25;
  color: var(--txt-clr);
}

.name {
  font-weight: 800;
  color: var(--name-clr);
  margin-right: 4px;
  cursor: pointer;
}

.name:hover {
  color: var(--accent-clr);
}

.event {
  color: var(--txt-clr);
  font-weight: 800;
  margin-left: 4px;
  font-size: 0.87rem;
  cursor: pointer;
}

.event:hover {
  color: var(--accent-clr);
}
.event.chess {
  color: var(--accent-clr);
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--dot-clr);
  display: inline-block;
  margin-left: 4px;
}
.notification__time {
  color: var(--date-clr);
  margin-top: 0.38rem;
  font-size: 0.87rem;
}

.message {
  margin-top: 0.7rem;
  padding: 1rem 1rem 0.8rem;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
}

.message p {
  font-size: 0.88rem;
  line-height: 1.3;
  color: var(--txt-clr);
}

.message:hover {
  background-color: var(--msgHover-clr);
  cursor: pointer;
}

.comment__img {
  border: 3px solid transparent;
  border-radius: 10px;
  margin-top: -3px;
  margin-left: 3px;
}
.comment__img:hover {
  border-color: var(--unreadNotif-clr);
  cursor: pointer;
}

@media (min-width: 45em) {
  body {
    background-color: var(--unreadNotif-clr);
    display: grid;
    place-content: center;
  }
  .notifications__container {
    max-width: 40rem;
    border-radius: 14px;
    padding: 1.65rem 1rem 0.5rem;
    margin: 2rem 0;
  }
}

@media (min-width: 62em) {
  .notifications__container {
    max-width: 45.6rem;
    padding: 2.4rem 1.95rem 0.2rem 1.95rem;
    margin: 4rem 0 2rem;
  }

  .notifications__top {
    margin-bottom: 2rem;
  }

  .notification__left {
    gap: 0.7rem;
  }

  .secondary__heading {
    font-weight: 800;
    font-size: 1.52rem;
  }

  .readBtn {
    font-size: 1rem;
  }

  .notifcations__bottom {
    display: grid;
    gap: 0.5rem;
  }

  .notification__box {
    padding: 1.2rem 0.7rem 1rem 1rem;
    grid-template-columns: 2.8rem 1fr;
    gap: 1.25rem;
  }

  .notification__info {
    font-size: 1rem;
    margin-top: 2px;
  }

  .event {
    font-size: 1rem;
    margin-left: 5px;
  }

  .notification__time {
    margin-top: 0.3rem;
    font-size: 1rem;
  }

  .message {
    margin-top: 0.78rem;
    padding: 1rem 1.2rem 1rem;
    width: 98%;
  }

  .message p {
    font-size: 1.01rem;
    line-height: 1.3;
  }

  .notification__box.comment {
    grid-template-columns: 2.8rem 1fr 3.2rem;
    margin-top: 0.3rem;
  }

  .comment__img {
    margin-top: -5px;
    margin-left: -3px;
  }
}

footer {
  margin: 2rem 0;
}
